DATABASE_URL=mysql+pymysql://user:senha@localhost:PORT/banco
SECRET_KEY=gerada_com_secrets_token_urlsafe
DEBUG=True

# Configurações para gerar jwt
ALGORITHM=um_algoritmo_ai
ACCESS_TOKEN_EXPIRE_MINUTES=