DATABASE_URL=mysql+pymysql://user:senha@localhost:PORT/banco
SECRET_KEY=gerada_com_secrets_token_urlsafe
DEBUG=True

# Configurações para gerar jwt
ALGORITHM=um_algoritmo_ai
ACCESS_TOKEN_EXPIRE_MINUTES=

# Super admin config
SUPER_ADMIN_EMAIL=email@gmail.com
SUPER_ADMIN_PASSWORD=umasenhamtforte